<!--引导页页面-->
<ion-view view-title="引导页" cache-view="false">
  <ion-list can-swipe="false">
    <ion-item>
      1
      <ion-option-button class="calm-bg">删除</ion-option-button>
      <ion-option-button class="royal-bg">修改</ion-option-button>
    </ion-item>
    <ion-item>
      checkbox的选中状态是：{{checkbox}}
      <ion-checkbox ng-model="checkbox">html</ion-checkbox>
    </ion-item>
    <ion-item>
      radio的选中值是：{{choice.choice}}
      <ion-radio ng-repeat="item in radioData" ng-model="choice.choice" ng-value="item.value">{{item.name}}</ion-radio>
    </ion-item>
    <ion-item>
      toggle的选中状态是：{{toggled}}
      <ion-toggle ng-model="toggled">开关</ion-toggle>
    </ion-item>
    <ion-item>5</ion-item>
    <ion-item>6</ion-item>
  </ion-list>

  <!--<ion-header-bar class="calm-bg">-->
    <!--<h1 class="title">头部</h1>-->
  <!--</ion-header-bar>-->
  <!--<ion-content class="assertive-bg" scroll="false">-->
    <!--内容区域-->
  <!--</ion-content>-->
  <!--<ion-footer-bar class="calm-bg">-->
    <!--底部-->
  <!--</ion-footer-bar>-->
</ion-view>
